<!DOCTYPE html>
<html>
<head>
  <title>Lab3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="float: right">
  <p><%= link_to_unless_current 'EN', locale: 'en' %></p>
  <p><%= link_to_unless_current 'RU', locale: 'ru' %></p>
</div>

<%= yield %>

</body>
</html>
